{% extends 'base.html'%}
{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shop in style</h1>
            <p class="lead fw-normal text-white-50 mb-0">Login to Your 
                account...</p>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br/><br/>
                <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae quam sed orci auctor imperdiet 
                ac id mauris. Vivamus aliquam ligula magna, id ornare dolor egestas vel. Suspendisse volutpat lorem 
                faucibus, malesuada arcu a, semper orci. Sed faucibus eu nisi at venenatis. Aenean eleifend scelerisque malesuada.
                 Suspendisse aliquam ante at auctor cursus. Curabitur eget neque lectus.Ut dictum pulvinar erat quis elementum.
                  Vivamus quis nibh pellentesque lacus ultrices viverra et sit amet enim. Aliquam felis tellus, laoreet ut est at, ullamcorper elementum tellus. Nulla pulvinar erat a mattis fringilla. Etiam aliquam nunc nibh, vitae vulputate lacus tincidunt ac. In nunc tortor, ornare at mi ut, posuere finibus leo. Mauris dolor ipsum, porta tristique porttitor sit amet, cursus sit amet velit. Aenean vitae ligula viverra tellus consequat congue sit amet at urna. Quisque tempus et justo sed laoreet. Vestibulum semper dui nisl, id auctor orci efficitur id. Mauris in nibh sed tortor scelerisque dignissim. Donec tempor pulvinar velit consequat vehicula.
                </p>
            </div>
        </center>
    </div>
</div>

{% endblock %}